<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Typefield</string>
	<key>CFBundleExecutable</key>
	<string>Typefield</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>local.typefield.app</string>
	<key>CFBundleName</key>
	<string>Typefield</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.59.22</string>
	<key>CFBundleVersion</key>
	<string>102</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Typefield</string>
	<key>SUFeedURL</key>
	<string>https://typefield.app/updates/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Riq5TRyH0cFVj7zWSWflg+iBD1kMZRfjfmY5j1VAV5A=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUSignedFeedFailureExpirationInterval</key>
	<integer>0</integer>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUSendProfileInfo</key>
	<false/>
</dict>
</plist>
